version: '3.8'
services:
  ###############################################################################
  ###                              SLAM APP                                   ###
  ###############################################################################
  slam-app:
    container_name: slam-app
    build:
      context: .
    volumes:
      - '.:/app'
      - '/app/node_modules'
    networks:
      - slam-net
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  slam-net:
    driver: 'bridge'
