.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    border-bottom: 1px solid var(--line-color);
    height: 60px;
    z-index: 9;
  }

  .nav-brand {
      display: inline-block;
  }

  .nav-header {
      display: inline-block;
      font-family: var(--heading-font-family);
      float: right;
      line-height: 57px;
  }
  
  .nav-container {
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-family: var(--heading-font-family);
    height: 100%;
    justify-content: space-between;
    max-width: 100%;
  }
  
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { 
        display: inline-block; 
    }
  
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--font-color);
        gap: 0.4rem;
        font-size: 0.9rem;
        padding: 0.5rem;
        border-radius: 8px;
        font-weight: 500;
        line-height: 1.1;
    }
  }







  .nav button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    border: none;
    background: transparent;
    color: var(--font-color);
    cursor: pointer;
    line-height: 0;
    font-weight: 500;
  }
  
  .nav button:hover {
    background: var(--navbar-color-hover);
    color: var(--bright-font-color);
  }
  
  .nav button:focus {
    outline: none;
  }
  
  .nav button:focus-visible {
    outline: 3px solid var(--primary);
  }
  
  .nav button span {
    font-size: 0.9rem;
  }
  
  .nav button svg rect {
    fill: var(--font-color);
  }
  
  .nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    height: 100%;
  }
  
  .nav nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    gap: 0.4rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: 500;
    line-height: 1.1;
  }
  
  .nav nav a.active {
    color: var(--bright-font-color);
  }
  
  .nav nav a.brand {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav nav a.brand span {
    white-space: nowrap;
  }
  
  .nav nav a:hover {
    color: var(--bright-font-color);
    background: var(--navbar-color-hover);
  }