body {
    background-color: #f8f8f8;
}

div {
    color: var(--font-color);
}

// Full container
.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

// Container
.container {
  max-width: $large;
  padding: 0 $padding;
  margin-left: auto;
  margin-right: auto;
}

// Small container
.small-container {
  @extend .container;
  max-width: $small;
}

// Medium container
.medium-container {
  @extend .container;
  max-width: $medium;
}

// Content
.content-section {
  padding: $content-padding-mobile;
}

@include small-breakpoint {
  .content-section {
    padding: $content-padding;
  }
}


.app {
    margin-top: 74px;
    padding: 1.5rem 3rem;
    background-color: var(--light-background-color);
    font-family: var(--heading-font-family);

    &-header{
        align-items: center;
        display: flex;
        margin-bottom: 12px;
        min-height: 50px;

    }

}

.block {

    &-title {
        width: 50%;

        h1 {
            font-size: 1.75rem;
            font-family: var(--heading-font-family);
        }

        a {
            font-size: 0.9rem;
            font-family: var(--heading-font-family); 
            color: #222;
            text-decoration: none;   
            background: none;
            border: none;
            cursor: pointer;
            
            &:before{
                content: "\E72B";
                font-family: FabricMDL2Icons;
                margin-right: 7px;
                font-size: 0.7rem;
            }
        }
    }
    &-button {
        width: 50%;
        text-align: right;  
        
        button {
            margin-left: 1rem;
        }
    }

}

form {
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 5px;
    box-shadow: $shadow;
}

.button-group {
    text-align: center;

    a {
        margin: 0rem 1rem;
    }
}

.form-title {
    margin-top: 0;
}