body {
    background-color: #f8f8f8;
}

div {
    color: var(--font-color);
}

.app {
    margin-top: 74px;
    padding: 1.5rem 3rem;
    background-color: var(--light-background-color);
    font-family: var(--heading-font-family);

    &-header{
        align-items: center;
        display: flex;
        margin-bottom: 12px;

    }

}

.block {

    &-title {
        width: 50%;
        font-size: 1.75rem;
        font-family: var(--heading-font-family);
    }
    &-button {
        width: 50%;
        text-align: right;       
    }

}

.MuiDataGrid-root {
    font-family: var(--body-font-family) !important;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
    color: var(--black);
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    padding: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-columnHeader{

    &:focus, &:focus-within {
        outline: none !important;
    }
    
}
