@font-face {
	font-family: 'BC Sans';
	src: url('/StaticWebResources/static/shared/fonts/BCSans/BCSans-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BC Sans';
	src: url('/StaticWebResources/static/shared/fonts/BCSans/BCSans-Bold.woff');
	font-weight: bold;
	font-style: normal;	
}

@font-face {
	font-family: 'BC Sans';
	src: url('/StaticWebResources/static/shared/fonts/BCSans/BCSans-Italic.woff');
	font-weight: normal;
	font-style: italic;	
}

@font-face {
	font-family: 'BC Sans';
	src: url('/StaticWebResources/static/shared/fonts/BCSans/BCSans-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;	
}


:root {
      /* Font */
    --heading-font-family: 'IBM Plex Serif', -apple-system, BlinkMacSystemFont,
      'Helvetica Neue', 'Roboto', Roboto, Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --body-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
    --bc-gov-family:'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  }

  