:root {
      /* Font */
    --font-family: 'IBM Plex Serif', -apple-system, BlinkMacSystemFont,
      'Helvetica Neue', 'Roboto', Roboto, Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --heading-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
  }