.btn {
    position: relative;
    font-weight: 400;
    font-size: 0.75rem;
    min-height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    min-width: 100px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    text-transform: capitalize;
    font-family: var(--body-font-family) !important;

    &-default {
        background-color: var(--button-color);
        border:  var(--button-color);
        color: var(--white);
    }

    &-muted {
        background: $muted-background;
        border: $muted-border;
        color: $muted-color;   

        &:hover,
        &:focus,
        &:active {
          color: $muted-color-hover;
          border: $muted-border-hover;
          background: $muted-background-hover;
          text-decoration: none;
        }
    &.warning {
        color: $error;
        border-color: $error;
    }

    }
}

