%forms {
    display: block;
    border: $form-border;
    border-radius: $border-radius;
    padding: 0.75rem;
    outline: none;
    background: $input-background;
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
  }
  
  // Input fields on hover
  %forms-hover {
    border: $form-border-hover;
  }
  
  // Input fields on focus
  %forms-focus {
    border: $form-border-focus;
  }
  
  // Variable containing all input fields
  #{$forms} {
    @extend %forms;
  
    &:hover {
      @extend %forms-hover;
    }
  
    &:focus,
    &:active {
      @extend %forms-focus;
    }
  }
  
  // textarea {
  //   overflow: auto;
  //   height: auto;
  // }

  .textarea {
    overflow: hidden;
    resize: none;

  }

  
  fieldset {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    margin: $margins 0;
  }
  
  legend {
    padding: 0 0.5rem;
    font-weight: 600;
  }
  
  // Fix issues with select
  select {
    color: $font-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==)
      right center no-repeat;
    line-height: 1; // ensures text doesn't get cut off
  }
  
  select::-ms-expand {
    display: none; // dropdown icon fix for IE
  }
  
  // Make range full width
  [type='range'] {
    width: 100%;
  }
  
  // Labels
  label {
    font-weight: 600;
    max-width: 100%;
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 0.9rem;

    & span {
      color: $error;
      margin-left: 4px;
    }
  }
  
  @include small-breakpoint {
    .split-form {
      // Split forms have right aligned labels and margins on the column
      label {
        text-align: right;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  
  // Form validation
  input,
  select,
  textarea {
    &.has-error {
      border: 1px solid $error;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px lighten($error, 35%);
    }
  
    &.is-success {
      border: 2px solid $success;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px lighten($success, 25%);
    }

    &:read-only{
        background-color: #f2f2f2;
        color: #666;
      &:hover{
        border-color: #ddd;
        cursor: not-allowed;
      }
    }
  
    &:hover,
    &:focus,
    &:active {
      &.has-error {
        @extend .has-error;
      }
  
      &.is-success {
        @extend .is-success;
      }
    }
  }

  //Error message
  .error-message {
    color: $error;
    font-size: 0.8rem;
    position: absolute;
    margin-top: -16px;
  }

  
  // Placeholder Text
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder,
  ::placeholder {
    color: $placeholder !important;
    font-family: var(--body-font-family) !important;
  }

  //Dropdown
.css-b62m3t-container > div {
    border:  1px solid #ddd;
    border-radius: 3px;
    font-size: 0.9rem;
    color: #222;
    padding: 0.3rem 0.2rem;
}

.css-1pahdxg-control, .css-1s2u09g-control{
  box-shadow: none;
  
  &:hover{
    box-shadow: none;
  }
  &:active{
    box-shadow: none;
  }
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

