%forms {
    display: block;
    border: $form-border;
    border-radius: $border-radius;
    padding: 0.75rem;
    outline: none;
    background: $input-background;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
  }
  
  // Input fields on hover
  %forms-hover {
    border: $form-border-hover;
  }
  
  // Input fields on focus
  %forms-focus {
    border: $form-border-focus;
  }
  
  // Variable containing all input fields
  #{$forms} {
    @extend %forms;
  
    &:hover {
      @extend %forms-hover;
    }
  
    &:focus,
    &:active {
      @extend %forms-focus;
    }
  }
  
  .textarea {
    overflow: hidden;
    resize: none;
  }
  
  fieldset {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 0;
    margin: 0.35rem 0;
    font-family: var(--body-font-family) !important;
    font-size: 0.9rem;

    &:disabled {
      opacity: 1;
      background-color: #f2f2f2;

      * {
        color: #aaa;
      }
    }
  }

  legend {
    padding: 0 0.5rem;
    font-weight: 600;
  }
  
  // Fix issues with select
  select {
    color: $font-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==)
      right center no-repeat;
    line-height: 1; // ensures text doesn't get cut off
  }
  
  select::-ms-expand {
    display: none; // dropdown icon fix for IE
  }
  
  // Make range full width
  [type='range'] {
    width: 100%;
  }
  
  // Labels
  label {
    font-weight: 600 !important;
    max-width: 100%;
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 0.9rem !important;
    font-family: var(--body-font-family) !important;

    & span {
      margin-left: 4px !important;
      font-size: 0.9rem !important;
    }
  }
  
  @include small-breakpoint {
    .split-form {
      // Split forms have right aligned labels and margins on the column
      label {
        text-align: right;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  
  // Form validation
  input,
  select,
  textarea {
    &.has-error {
      border: 1px solid $error;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px lighten($error, 35%);
    }
  
    &.is-success {
      border: 2px solid $success;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px lighten($success, 25%);
    }

    &:read-only{
        background-color: #f2f2f2;
        color: #666;
      &:hover{
        border-color: #ddd;
        cursor: not-allowed;
      }
    }
  
    &:hover,
    &:focus,
    &:active {
      &.has-error {
        @extend .has-error;
      }
  
      &.is-success {
        @extend .is-success;
      }
    }
  }

  //Error message
  .error-message {
    color: $error;
    font-size: 0.8rem;
    position: absolute;
    margin-top: -16px;
  }

  
  // Placeholder Text
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder,
  ::placeholder {
    color: $placeholder !important;
    font-family: var(--body-font-family) !important;
  }

  //Dropdown
.css-b62m3t-container > div {
    border:  1px solid #ddd;
    border-radius: 3px;
    font-size: 0.9rem;
    color: #222;
    padding: 0;
}

.css-1pahdxg-control, .css-1s2u09g-control{
  box-shadow: none;
  
  &:hover{
    box-shadow: none;
  }
  &:active{
    box-shadow: none;
  }
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-xb97g8:hover {
  background-color: inherit;
}

form {
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 5px;
  box-shadow: $shadow;
}

.button-group {
  text-align: center;
  padding: 20px 0px 10px 0px;

  button {
      margin: 0rem 0.5rem;
  }

  &-edit{
      text-align:right;

      button {
          margin: 0rem 0rem 0rem 1rem;
      }
  }
}

.user-info {
  width: 100%;
}

.form-title {
  margin-top: 0;
}

.MuiInputBase-formControl {
  margin-top: 4px !important;
}

label+div {

  & > input {
      font-weight: 400 !important;
      font-family: var(--body-font-family) !important;
  }
}

.readOnly > * > * > * > * {
  color: var(--dark-font-color) !important;
}

.readOnly {
    div {
      border-radius: 3px !important;
      border-color: $border-color;   
  }
}

.MuiInputBase-root {
  
    * {
      font-family: var(--body-font-family) !important;
    }

  fieldset {
    border: none !important;
  }
} 


.css-1rhbuit-multiValue {
  border-radius: 50px !important;
  padding: 0px 8px;

  & > div {
  line-height: 1.5;
  font-size: 0.9rem;
  font-family: var(--body-font-family);
  padding: 4.5px 0px 4.5px 3px;
  }
}

.form-error {
  margin: 0px;
}

.form-field > div > div {
  margin-bottom: 14px;
}

.select > div, .readOnly > div {
  padding: 4.5px 3px;
}

.css-g1d714-ValueContainer {
  padding: 0px 3px;
}

.css-b62m3t-container> * {
  line-height: 1.5 !important;
  font-size: 0.85rem !important;
  font-family: var(--body-font-family) !important;
}

.MuiBox-root > div > * {
  margin-top: 0px;
}

.user-list {
  height: 370px;
  overflow: scroll;
    ul {

      li {
        display: block;
      }
    }
  
}


