.TableContainer {
    margin-top: 90px;
    margin-bottom: 20px;
}

.MuiDataGrid-root, .MuiTypography-span {
    font-family: var(--body-font-family) !important;
}

.MuiDataGrid-row:hover {
    cursor:pointer;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
    color: var(--black);
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    padding: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-columnHeader{

    padding: 0px 15px !important;

    &:focus, &:focus-within {
        outline: none !important;
    }
    
}

.MuiAlert {

    &-root {
        background: none;
        font-family: var(--body-font-family);
        margin: 0;
        padding: 0;
    }

    &-standardSuccess {
        color: inherit;
    }

    &-standardError {
        color: var(--warning);
        font-weight: 500;
    }
}

.logo-initial {
    font-size: 0.9rem;
}

.logo-small {
    background-color: #fff;
}

.css-n9xl00-MuiDataGrid-root .MuiDataGrid-columnHeader:first-child, .css-n9xl00-MuiDataGrid-root .MuiDataGrid-cell:first-child {
    padding-left: 20px !important;
}

.cell-render {
    &.warning {
        & {
            color: var(--warning);
        }
    }
}


.MuiChip-root {
    margin-right: 4px;
}

.MuiChip-label {
    font-family: var(--body-font-family) !important;
    color: var(--black);
}

// Progress Circle
.background {
    position: absolute;
    z-index: 1;
    right: 0;
    svg {
        color: var(bright-font-color);
        circle {
            stroke-dashoffset: 0px !important;
        }
    }
}
.progress {
    position: relative;
    z-index: 2;
    svg {
        color: var(--primary);

    }
}

// Search

.MuiDataGrid-toolbarContainer {
    position: absolute;
    top: -66.5px;
    right: 156px;
    padding: 0px !important;
}

.MuiDataGrid-toolbarContainer > div > div:before{
    border: none !important;
}

.MuiDataGrid-toolbarContainer > div > div > svg{
    display: none;
}

.MuiDataGrid-toolbarContainer > div > div > input{
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.9rem;
    outline: none;
    background: transparent;
    margin-bottom: 0rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    height: 1.2rem !important;
}

.MuiInput-underline:after{
    border: none !important;
}

.select > div, .readOnly > div {
    padding: 4.5px 3px;
    border-color: #ddd;
  }
  
  .css-g1d714-ValueContainer {
    padding: 0px 3px;
  }
  
  .css-b62m3t-container> * {
    line-height: 1.5 !important;
    font-size: 0.85rem !important;
    font-family: var(--body-font-family) !important;
  }

  .css-1rhbuit-multiValue {
    border-radius: 50px !important;
    padding: 0px 8px;
  
    & > div {
    line-height: 1.5;
    font-size: 0.9rem;
    font-family: var(--body-font-family);
    padding: 4.5px 0px 4.5px 3px;
    }
  }

.css-14el2xx-placeholder {
      font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 0.9rem;
}
