.TableContainer {
    margin-top: 90px;
    margin-bottom: 20px;
}

.MuiDataGrid-root, .MuiTypography-span {
    font-family: var(--body-font-family) !important;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
    color: var(--black);
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    padding: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-columnHeader{

    padding: 0px 15px !important;

    &:focus, &:focus-within {
        outline: none !important;
    }
    
}

.MuiAlert {

    &-root {
        background: none;
        font-family: var(--body-font-family);
        margin: 0;
        padding: 0;
    }

    &-standardSuccess {
        color: inherit;
    }

    &-standardError {
        color: var(--warning);
        font-weight: 500;
    }
}

.logo-initial {
    font-size: 0.9rem;
}

.logo-small {
    background-color: #fff;
}

.css-n9xl00-MuiDataGrid-root .MuiDataGrid-columnHeader:first-child, .css-n9xl00-MuiDataGrid-root .MuiDataGrid-cell:first-child {
    padding-left: 20px !important;
}

.cell-render {
    &.warning {
        & {
            color: var(--warning);
        }
    }
}


.MuiChip-root {
    margin-right: 4px;
}

.MuiChip-label {
    font-family: var(--body-font-family) !important;
    color: var(--black);
}

// Progress Circle
.background {
    position: absolute;
    z-index: 1;
    right: 0;
    svg {
        color: var(bright-font-color);
        circle {
            stroke-dashoffset: 0px !important;
        }
    }
}
.progress {
    position: relative;
    z-index: 2;
    svg {
        color: var(--primary);

    }
}

.MuiDataGrid-toolbarContainer {
    position: absolute;
    top: -74px;
    right: 148px;
}

.MuiDataGrid-toolbarContainer > div > div:before{
    border: none !important;
}

.MuiDataGrid-toolbarContainer > div > div > svg{
    display: none;
}

.MuiDataGrid-toolbarContainer > div > div > input{
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.9rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
}

.MuiInput-underline:after{
    border: none !important;
}
