.MuiDataGrid-root {
    font-family: var(--body-font-family) !important;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
    color: var(--black);
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    padding: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-columnHeader{

    &:focus, &:focus-within {
        outline: none !important;
    }
    
}

.css-n9xl00-MuiDataGrid-root .MuiDataGrid-columnHeader:first-child, .css-n9xl00-MuiDataGrid-root .MuiDataGrid-cell:first-child {
    padding-left: 20px !important;
}

.cell-render {
    &.warning {
        & {
            color: var(--warning);
        }
    }
}