// Settings
@import 'settings';

// Base

@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/normalize';

// Components

@import 'components/typography';
@import 'components/grid';
@import 'components/buttons';
@import 'components/sections';
@import 'components/colors';
@import 'components/forms';
@import 'components/tables';

// CDN
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css');
